---
title: Lab
pagination:
  data: 2023-labs
  size: 1
  alias: lab
eleventyComputed:
  title: '{{ lab.title }}'
permalink: '/2023/lab/{{ lab.title | slugify }}/'
layout: wrapper
class: lab
image: https://x.scambi.org/illustrations/og_labs.png
---
{% for item in pagination.items %}
	<h1>{{ item.title }}</h1>
	<section class='row'>
		<div class='half column'>
			<p>{{ item.description | markdownify }}</p>
		</div>
		<div class='half column'>
			<dl id='data'>
				<dt>Location</dt>
				<dd>{{ item.location }} → <a href='https://umap.openstreetmap.fr/en/map/scambi-2023_943693' target='_blank' title='Le location di Scambi Festival 2023'>vedi mappa</a></dd>

				<dt>Quando</dt>
				{% for time in item.times %}
					<dd>
						<time>{{ time | markdownify }}</time>
					</dd>
				{% endfor %}

				<dt>Host</dt>
				{% if item.host %}
					{% for host in item.host %}
						<dd>
							{% if forloop.first %}
								<a href='{{ item.host_url }}'>{{ host }}</a>
							{% else %}
								{{ host }}
							{% endif %}
						</dd>
					{% endfor %}
				{% endif %}
			</dl>
		</div>
	</section>

	{% comment %<section class='standalone green row'>
		{% for host in item.host %}
			<div class='row'>
				<!--{% increment j %}-->
				{% unless forloop.first %}
					<hr>
				{% endunless %}
				<h3>{{ host }}</h3>
				{% if item.host_image[j] and item.host_bio[j] and item.host_url[j] and item.host_url[j] != 'https://scambi.org/staff' %}
					<div class='half column'>
						<p>{{ item.host_bio[j] | markdownify }}</p>
						<div class='flex row'>
							<a href='{{ item.host_url[j] }}' class='purple button'>Info</a>
						</div>
					</div>
					<div class='half column'>
						<img src='{{ item.host_image[j]}}' alt='{{ item.host[j] }}'>
					</div>
				{% elsif item.host_bio[j] %}
					<div class='one column'>
						<p>{{ item.host_bio[j] | markdownify }}</p>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</section>{% endcomment %}
{% endfor %}
