---
layout: page
pagination:
  data: editions
  size: 1
  alias: edition
eleventyComputed:
  title: '{{ edition.title }}'
permalink: '/en/{{ edition.slug }}/'
---
{% for e in pagination.items %}
	<h2 class='title' id='{{ e.slug }}'>{{ e.title }}</h2>
	<h3><span>Tema</span> {{ e.theme }}</h3>
	<p>{{ e.description | markdownify }}</p>
	<figure><img src='https://x.scambi.org/posters/{{ e.slug }}.webp' alt='Locandina di {{ e.title }}'></figure>
	<div class='flex'>
		{% if e.labs %}<a class='purple button' href='/en/{{ e.slug }}/labs' title='{{ e.title }} Labs'>Labs</a>{% endif %}
		{% if e.pinoli %}<a class='yellow button' href='/en/{{ e.slug }}/pinoli' title='{{ e.title }} Pinoli'>Pinoli</a>{% endif %}
		{% if e.media %}<a class='blue button' href='{{ e.media }}' title='{{ e.title }} images'>Media</a>{% endif %}
		{% if e.video %}<a class='orange button' href='{{ e.video }}' title='{{ e.title }} documentary'>Documentary</a>{% endif %}
	</div>
{% endfor %}
