---
pagination:
  data: 2022-pinoli
  size: 1
  alias: pinolo
eleventyComputed:
  title: '{{ pinolo.title }}'
permalink: '/2022/pinolo/{{ pinolo.title | slugify }}/'
layout: wrapper
class: pinolo
---
{% for item in pagination.items %}
	<h1>{{ item.title }}</h1>
	<section class='row'>
		<div class='half column'>
			<p>{{ item.descrizione | markdownify }}</p>
		</div>
		<div class='half column'>
			<dl id='data'>
				<dt>Location</dt>
				<dd>{{ item.location }} — <a href='{{ site.map }}' target='_blank' title='Le location di Scambi Festival 2022'>vedi mappa</a></dd>

				{% assign days = item.days | split: ',' %}
				<dt>Quando</dt>
				<dd>
					{% for day in days %}
						{% unless forloop.last %}
							{{ day }},
						{% else %}
							{{ day }}
						{% endunless %}
					{% endfor %}
				</dd>
				
				<dt>Host</dt>
				{% if item.host != '""' %}
					{% assign hosts = item.host | split: ',' %}
					{% for host in hosts %}
						<dd>{{ host }}</dd>
					{% endfor %}
				{% else %}
					<dd>{{ item.host_name }}</dd>
				{% endif %}
			</dl>
				<figure><img src='{{ item.image }}' alt='{{ item.title }}'></figure>
		</div>
	</section>
	<section class='yellow box row' style='margin: 3vw'>
		<div class='half column'>
			<h2>{{ item.host }}</h2>
			<p>{{ item.host_bio | markdownify }}</p>
		</div>
		<div class='half column'>
			<img src='{{ item.host_image }}' alt='{{ item.host }}'>
		</div>
	</section>
{% endfor %}
