---
pagination:
  data: 2022-program
  size: 1
permalink: '/en/2022/lab/{{ pagination.pageNumber | plus: 1 }}/'
layout: wrapper
class: gradient-behind lab
---
{% for item in pagination.items %}
	{% if item.what == 'lab' %}
		<h1>{{ item.title }}</h1>
		<section class='row'>
			<div class='half column'>
				<p>{{ item.description | markdownify }}</p>
			</div>
			<div class='half column'>
				<dl id='data'>
					<dt>Location</dt>
					<dd>{{ item.location }} — <a href='{{ site.map }}' target='_blank' title='Le location di Scambi Festival 2022'>view map mappa</a></dd>

					{% assign days = item.times | split: '; ' %}
					<dt>Quando</dt>
					{% for day in days %}
						<dd>
							{% assign timesday = day | split: ': ' %}
							{% for timeday in timesday %}
							 	{% assign times = timeday | split: ', ' %}
								{% for time in times %}
									{% if time contains '-' %}
										<time>{{ time | markdownify }}</time>
									{% else %}
										{{ time | markdownify }}
									{% endif %}
								{% endfor %}
							{% endfor %}
						</dd>
					{% endfor %}
						
					<dt>Host</dt>
					{% if item.host != '""' %}
						{% assign hosts = item.host | split: ',' %}
						{% for host in hosts %}
							<dd>{{ host }}</dd>
						{% endfor %}
					{% else %}
						<dd>{{ item.leader }}</dd>
					{% endif %}
				</dl>
					<figure><img src='{{ item.image }}' alt='{{ item.title }}'></figure>
			</div>
		</section>
	{% endif %}
{% endfor %}

{% render 'prenota.liquid', lang: lang, url: page.url, booking_url: site.booking_url %}