---
pagination:
  data: 2021-pinoli
  size: 1
  alias: pinolo
eleventyComputed:
  title: '{{ pinolo.title }}'
permalink: '/en/2021/pinolo/{{ pinolo.title | slugify }}/'
layout: wrapper
---
{% for item in pagination.items %}
	<h1>{{ pinolo.title }}</h1>
	<section class='row'>
		<div class='half column'>
			<p>{{ item.description | markdownify }}</p>
		</div>
		<div class='half column'>
			<dl id='data'>
				<dt>Location</dt>
				<dd>{{ item.location }} — <a href='{{ site.map }}' target='_blank' title='Scambi Festival 2021’s map'>view map</a></dd>

				<dt>Host</dt>
				{% if item.host != '""' %}
					{% assign hosts = item.host | split: ',' %}
					{% for host in hosts %}
						<dd>{{ host }}</dd>
					{% endfor %}
				{% else %}
					<dd>{{ item.host_name }}</dd>
				{% endif %}
			</dl>
		</div>
	</section>
{% endfor %}

<h3>No need to book <em>Pinoli</em>!</h3>
<p class='center'>Just wander around the neighborhood and you will be stumbling upon them 👀</p>
